<a href="https://colab.research.google.com/github/YuliyaStarostina/ETL/blob/main/%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F_%D0%B1%D0%BB%D0%BE%D0%BA%D0%BD%D0%BE%D1%82%D0%B0_%22ETL_HW_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [77]:
from math import asin
from typing import Union
from tqdm import tqdm
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

from scipy import stats
from statsmodels.stats.meta_analysis import effectsize_smd
from statsmodels.stats import proportion
from statsmodels.stats.power import tt_ind_solve_power
from statsmodels.stats.power import zt_ind_solve_power
from scipy.stats import ttest_1samp
import numpy as np
from scipy.stats import stats
import warnings
warnings.filterwarnings('ignore')
warnings.warn('DelftStack')
warnings.warn('Do not show this message')
from statsmodels.stats.power import TTestIndPower
from __future__ import division
from scipy import stats
from statsmodels.stats.meta_analysis import effectsize_smd
from statsmodels.stats import proportion
from statsmodels.stats.power import tt_ind_solve_power
from statsmodels.stats.power import zt_ind_solve_power
import operator
import numpy as np
import pandas as pn

# Урок 2. Введение в подготовку данных для аналитиков. Таблицы фактов и таблицы измерений

1. Скачайте датасет fifаs2.сsv. Проанализируйте его и определите, какие данные являются неполными. Удалите
ненужные колонки и недостающие значения.

2. Найдите в датафрейме полные дубликаты и удалите их. Значения могут быть одинаковыми, но написаны по-разному. Например, может отличаться размер регистра (заглавные и строчные буквы). Особое внимание уделить колонке с названиями команд.

3. Напишите функцию, которая добавит колонку с разбиением возраста по группам: до 20, от 20 до 30, от 30 до
36 и старше 36. Посчитайте количество футболистов в каждой категории.

In [78]:
df = pd.read_csv('/content/fifa_s2 (1).csv')
df.head(15)

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
0,1179,G. Buffon,40,Italy,88,88,Paris Saint-Germain,4000.0,77,Right,4.0,1.0,GK,2018,01/01/2019,6.333333,203.0,7400.0
1,5479,Casillas,37,Spain,82,82,FC Porto,1500.0,10,Left,4.0,1.0,NaN,2015,01/01/2019,6.083333,185.0,3000.0
2,8205,Braga,35,Portugal,70,70,CD Aves,750.0,5,Right,1.0,3.0,LCM,2017,01/01/2019,5.916667,165.0,1600.0
3,9014,A. Robben,34,Netherlands,84,84,FC Bayern München,15500.0,110,Left,4.0,4.0,RM,2009,01/01/2019,5.916667,176.0,25600.0
4,19521,J. Ibehre,35,England,61,61,Cambridge United,120.0,2,Right,1.0,2.0,ST,2017,01/01/2019,6.333333,203.0,210.0
5,20209,Ricardo Costa,37,Portugal,74,74,CD Tondela,750.0,4,Right,2.0,2.0,LCB,2017,01/01/2019,6.000000,181.0,1600.0
6,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,405,Right,5.0,5.0,ST,2018,01/01/2022,6.166667,183.0,127100.0
7,24630,Pepe Reina,35,Spain,83,83,Milan,6000.0,56,Right,3.0,1.0,GK,2018,NaN,6.166667,203.0,10200.0
8,27532,D. de Vries,37,Netherlands,66,66,Celtic,40.0,7,Right,1.0,1.0,GK,2016,01/01/2019,6.250000,212.0,72.0
9,45083,S. von Bergen,35,Switzerland,73,73,BSC Young Boys,950.0,12,Right,2.0,2.0,LCB,2013,01/01/2022,6.000000,174.0,1400.0
10,46175,M. Rosenberg,35,Sweden,73,73,Malmö FF,1800.0,6,Right,1.0,3.0,RS,2014,01/01/2020,6.000000,179.0,2400.0
11,47201,S. Proto,35,Belgium,76,76,Lazio,1800.0,20,Right,2.0,1.0,GK,2018,01/01/2021,6.000000,163.0,3100.0
12,48940,P. Čech,36,Czech Republic,82,82,Arsenal,3000.0,60,Left,4.0,1.0,NaN,2015,01/01/2019,6.416667,198.0,5700.0
13,52498,M. Lehmann,35,Germany,72,72,1. FC Köln,725.0,10,Right,2.0,2.0,CDM,2012,01/01/2019,5.833333,165.0,1100.0
14,52679,J. Murphy,36,Republic of Ireland,62,62,Bury,40.0,1,Left,1.0,1.0,GK,2017,01/01/2019,6.166667,194.0,70.0

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2399 entries, 0 to 2398
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        2399 non-null   int64
 1   Name                      2399 non-null   object
 2   Age                       2399 non-null   int64
 3   Nationality               2392 non-null   object
 4   Overall                   2399 non-null   int64
 5   Potential                 2399 non-null   int64
 6   Club                      2158 non-null   object
 7   Value                     2142 non-null   float64
 8   Wage                      2399 non-null   int64
 9   Preferred Foot            2399 non-null   object
 10  International Reputation  2389 non-null   float64
 11  Skill Moves               2393 non-null   float64
 12  Position                  2378 non-null   object
 13  Joined                    2399 non-null   int64
 14  Contract Valid Until      2126 non-null   object
 15  Height                    2399 non-null   float64
 16  Weight                    2399 non-null   float64
 17  Release Clause            2396 non-null   float64
dtypes: float64(6), int64(6), object(6)
memory usage: 337.5+ KB

Неполными являются данные в столбцах: Club, Value, Contract Valid Until. Незначительный процент пропусков содержит Position

In [80]:
#автоматический подбор типа данных
sample = pd.read_csv('/content/fifa_s2 (1).csv', usecols=['Name', 'Nationality', 'Club', 'Value','Preferred Foot', 'Position', 'Contract Valid Until'])
sample.convert_dtypes().dtypes

Name                    string
Nationality             string
Club                    string
Value                    Int64
Preferred Foot          string
Position                string
Contract Valid Until    string
dtype: object

In [81]:
# процент пропущенных значений
# для этого разделим сумму пропусков в каждом столбце на количество наблюдений,
# округлим результат и умножим его на 100
(df.isna().sum() / len(df)).round(4) * 100

ID                           0.00
Name                         0.00
Age                          0.00
Nationality                  0.29
Overall                      0.00
Potential                    0.00
Club                        10.05
Value                       10.71
Wage                         0.00
Preferred Foot               0.00
International Reputation     0.42
Skill Moves                  0.25
Position                     0.88
Joined                       0.00
Contract Valid Until        11.38
Height                       0.00
Weight                       0.00
Release Clause               0.13
dtype: float64

In [82]:
import seaborn as sns
df_corr = df.corr().head(50)
cm = sns.light_palette('green', as_cmap=True)
df_corr.style.text_gradient(cmap=cm)

Самая высокая корелляция (0.8+) между показателями Release Clause и Value,Release Clause и Wage, Wage и Value

In [83]:
# Contract Valid Until имеет большое число пропусков, при этом не оказывает влияния на остальные показатели.
# Можем его удалить
df.drop(columns = ['Contract Valid Until'], axis=1, inplace = True)
df.to_csv('upd_dataset_new.csv', index = False)
print('колонка успешно удалена')

колонка успешно удалена

In [84]:
df2 =pd.read_csv('/content/upd_dataset_new.csv')
df2.head(5)

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Height,Weight,Release Clause
0,1179,G. Buffon,40,Italy,88,88,Paris Saint-Germain,4000.0,77,Right,4.0,1.0,GK,2018,6.333333,203.0,7400.0
1,5479,Casillas,37,Spain,82,82,FC Porto,1500.0,10,Left,4.0,1.0,NaN,2015,6.083333,185.0,3000.0
2,8205,Braga,35,Portugal,70,70,CD Aves,750.0,5,Right,1.0,3.0,LCM,2017,5.916667,165.0,1600.0
3,9014,A. Robben,34,Netherlands,84,84,FC Bayern München,15500.0,110,Left,4.0,4.0,RM,2009,5.916667,176.0,25600.0
4,19521,J. Ibehre,35,England,61,61,Cambridge United,120.0,2,Right,1.0,2.0,ST,2017,6.333333,203.0,210.0

In [116]:
df2.head(5)

,ID,Name,Age,Nationality,Overall,Potential,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Height,Weight,release_c
0,1179,G. Buffon,40,Italy,88,88,4000.0,77,Right,4.0,1.0,GK,2018,6.333333,203.0,7400.0
1,5479,Casillas,37,Spain,82,82,1500.0,10,Left,4.0,1.0,NaN,2015,6.083333,185.0,3000.0
2,8205,Braga,35,Portugal,70,70,750.0,5,Right,1.0,3.0,LCM,2017,5.916667,165.0,1600.0
3,9014,A. Robben,34,Netherlands,84,84,15500.0,110,Left,4.0,4.0,RM,2009,5.916667,176.0,25600.0
4,19521,J. Ibehre,35,England,61,61,120.0,2,Right,1.0,2.0,ST,2017,6.333333,203.0,210.0

In [117]:
df2.rename(columns = {'Release Clause':'release_c'}, inplace = True )
df2.to_csv('upd_dataset_new.csv', index = False)

In [118]:
#автоматический подбор типа данных
sample = pd.read_csv('/content/upd_dataset_new.csv', usecols=['Value','release_c'])
sample.convert_dtypes().dtypes
df2.to_csv('upd_dataset_new.csv', index = False)

In [119]:
med = df2.release_c.median()
df2['release_c'] = df2['release_c'].fillna(med)

In [120]:
value_list = list(df.Value.value_counts().index)
for val in value_list:
  res_median = df2[df2['Value'] ==val]['release_c'].median()
  df2[df2['Value'] ==val]['release_c'].fillna(res_median, inplace = True)
df2['Value'].isnull().sum()

0

In [121]:
df2.to_csv('upd_dataset_new.csv', index = False)
df2.Value

0        4000.0
1        1500.0
2         750.0
3       15500.0
4         120.0
         ...
2394      625.0
2395      450.0
2396      975.0
2397      825.0
2398      875.0
Name: Value, Length: 2399, dtype: float64

In [122]:
duplicates = df2[df2.duplicated()]
print(duplicates)

          ID        Name  Age Nationality  Overall  Potential    Value  Wage  \
154   168651  I. Rakitić   30     Croatia       87         87  46500.0   260
304   181872    A. Vidal   31       Chile       85         85  26000.0   205
687   200466   V. Eicher   27     Germany       67         69    625.0     4
2123  241736  Y. Bisseck   17     Germany       61         82    500.0     1

     Preferred Foot  International Reputation  Skill Moves Position  Joined  \
154           Right                       4.0          3.0      RCM    2014
304           Right                       4.0          3.0      CAM    2018
687            Left                       1.0          1.0       GK    2017
2123          Right                       1.0          2.0       CB    2017

        Height  Weight  release_c
154   6.000000   172.0    95300.0
304   5.916667   165.0    53300.0
687   6.250000   187.0     1000.0
2123  6.333333   183.0     1300.0

In [126]:
df2_no_dublicates = df2.drop_duplicates() #удаление дубликатов
df2 = df2.applymap(lambda x: x.lower() if type(x) == str else x)
df2_no_dublicates.to_csv('/content/upd_dataset_new.csv', index = False)
display(df2)

,ID,Name,Age,Nationality,Overall,Potential,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Height,Weight,release_c
0,1179,g. buffon,40,italy,88,88,4000.0,77,right,4.0,1.0,gk,2018,6.333333,203.0,7400.0
1,5479,casillas,37,spain,82,82,1500.0,10,left,4.0,1.0,NaN,2015,6.083333,185.0,3000.0
2,8205,braga,35,portugal,70,70,750.0,5,right,1.0,3.0,lcm,2017,5.916667,165.0,1600.0
3,9014,a. robben,34,netherlands,84,84,15500.0,110,left,4.0,4.0,rm,2009,5.916667,176.0,25600.0
4,19521,j. ibehre,35,england,61,61,120.0,2,right,1.0,2.0,st,2017,6.333333,203.0,210.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2394,246465,guerrero,16,spain,63,76,625.0,1,left,1.0,3.0,cm,2018,5.916667,165.0,1400.0
2395,246594,h. massengo,16,france,62,75,450.0,2,right,1.0,2.0,cdm,2018,5.833333,146.0,1100.0
2396,246599,guillem jaime,19,spain,64,80,975.0,13,right,1.0,3.0,rw,2018,5.833333,154.0,2600.0
2397,246606,fran garcía,18,spain,64,79,825.0,9,left,1.0,2.0,lb,2018,5.583333,139.0,2200.0
2398,246608,fidalgo,21,spain,65,75,875.0,20,right,1.0,3.0,cm,2016,5.750000,150.0,2000.0